#imal{width: 50%;}
#imal{margin-left: 25%;} 
#imal {border-color: rgb(223, 128, 91);
       border-width: 8px;
     border-style: double;}
     .parte01 {background-color: rgb(35, 35, 114);}
     .parte02 {background-color: crimson;}
     h4 {text-align: center;
         font-size: 200%;}